<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="js/common/vue.js"></script>
    <script src="js/common/axios.min.js"></script>
    <script src="js/common/js.cookie.js"></script>
    <script src="js/common/md5.js"></script>
    <script src="js/common/aes.js"></script>
    <script src="js/common/mode-ecb.js"></script>
    <link href="css/index.css?rev=@@hash" rel="stylesheet" />
    <script src="js/base.js?rev=@@hash"></script>
</head>
<body>
    <div class="main">
        <div class="login">
            <div class="l_con">
                <div class="img">
                    <img src="images/img_24.png" />
                </div>
                <div class="login_form">
                    <p class="f_tit"><span>登录</span></p>
                    <p><input class="l_input" id="l_username" type="text" v-model="l_username" placeholder="请输入手机号" /></p>
                    <div v-if="login_type==1">
                        <p><input class="l_input ipt_pwd" id="l_password" type="password" v-model="l_password" placeholder="请输入密码" /></p>
                    </div>
                    <!--<p><a class="l_left_a" href="views/register.html">没有账号？立即注册</a><a class="l_right_a" href="views/forgetpwd.html">忘记密码？</a></p>-->
                    <p><button class="l_btn" @click="l_login">登录</button></p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/login.js?rev=@@hash"></script>
</body>
</html>