<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="my">
            <div class="header">
                <span class="left back" @click='goHistory'>
                    <img src="../../static/images/06.png">
                </span>
                <span>我的</span>
                <img class="hsetting" src="../../static/images/08.png">
            </div>
            <div class="top" @click='updateInfo'>
                <img src="../../static/images/headicon.png">
                <span class="tel">13456789</span>
            </div>
            <p class="adver">邀请好友来买房，iphone大奖等你来</p>
            <div class="middle">
                <ul>
                    <li>
                        <a href="./myhourse.html">
                            <p>
                                <img src="../../static/images/m02.png">
                            </p>
                            <p>我的房源</p>
                        </a>
                    </li>
                    <li>
                        <a href="./myhourse.html">
                            <p>
                                <img src="../../static/images/m03.png">
                            </p>
                            <p>我的合约</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    <a href="./mymessage.html">
                        <img src="../../static/images/m04.png">我的消息</a>
                </p>
                <p>
                    <img src="../../static/images/m05.png">我的收藏</p>
                <p>
                    <a href="./myshare.html">
                        <img src="../../static/images/m06.png">我的分享</a>
                </p>
            </div>
            <div class="bottom">
                <p>
                    <a href="../pay/mybank.html">
                        <img src="../../static/images/m07.png">我的银行卡</a>
                </p>
                <p>
                    <a href="./mycoupon.html">
                        <img src="../../static/images/m08.png">优惠券</a>
                </p>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            methods: {
                goHistory: function () {
                    history.go(-1);
                },
                updateInfo: function () {
                    location.href = './myinfo.html'
                }
            }
        })
    </script>
</body>

</html>