<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>我的信息</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>    
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <span class="left back" @click='goHistory'>
                <img src="../../static/images/06.png">
            </span>
            <span>我的信息</span>
        </div>
        <div class="myinfo">
            <p class="item pb20">
                <span>头像</span>
                <span class="right">
                    <img class="headicon" src="../../static/images/headicon.png">
                    <img class="i" src="../../static/images/s13.png">
                </span>
            </p>
            <p class="item">
                <span>姓名</span>
                <span class="right">请填写
                    <img class="i" src="../../static/images/s13.png">
                </span>
            </p>
            <p class="item">
                <span>手机号</span>
                <span class="right">15788889898</span>
            </p>
            <p class="item">
                <span>身份证</span>
                <span class="right">请填写
                    <img class="i" src="../../static/images/s13.png">
                </span>
            </p>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            methods: {
                goHistory: function () {
                    location.go(-1);
                }
            }
        })
    </script>
</body>

</html>