<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>绑定银行卡</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>    
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <span class="left back" @click='goHistory'>
                <img src="../../static/images/06.png">
            </span>
            <span>绑定银行卡</span>
        </div>
        <div class="bindcard bt20">
            <div class="item">
                <p><span>真实姓名</span><input type="text" v-model='turename' placeholder="请输入真实姓名"></p>
                <p><span>身份证号</span><input type="text" v-model='idcard' placeholder="请输入身份证号"></p>
            </div>
            <div class="item">
                <p><span>银行卡号</span><input type="text" v-model='bankcard' placeholder="请输入您的银行卡号"><span class="close"></span></p>
                <p class="bank">请选择开户银行</p>
            </div>
            <div class="item">
                <p><span>手机号</span><input type="text" v-model='phone' placeholder="请输入手机号"></p>
                <p><span>验证码</span><input type="text" v-model='telcode' placeholder="请输入验证码"><button class="get_code" @click='getCode'>发送验证码</button></p>
            </div>
            <p>
                <button class="w-btn mt42" @click='bindBankCard'>完成</button>
            </p>
            <p class="tip">点击按钮-即表示您同意
                <router-link to='/login' class="c_green">《委托扣款协议》</router-link>
            </p>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            data:{
                turename:'晓东',
                idcard:'330601******1249',
                bankcard:'',
                phone:'15715566a',
                telcode:'',
                num:60,
                isgetcode:true,
            },
            methods: {
                goHistory: function () {
                    history.go(-1);
                },
                getGray: function () {
                    if (this.num == 0) {
                        this.isgetcode = true;
                        this.num = 60;
                    } else {
                        this.num--;
                        var _this = this;
                        setTimeout(_this.getGray, 1000);
                    }
                },
                getCode: function () {
                    if (this.username.trim() == '') {
                        this.$dialog.toast({ mes: '请输入手机号或邮箱' });
                        return;
                    }
                    this.$dialog.loading.open('发送中...');
                    var json = {
                        username: this.username
                    };
                    var _this = this;
                    httpGet('/login', json, function (res) {
                        if (res.code == 0) {
                            _this.isgetcode = false;
                            _this.getGray();
                            _this.$dialog.loading.close();
                            _this.$dialog.toast({ mes: res.message });
                        } else {
                            _this.$dialog.toast({ mes: res.message });
                        }
                    })
                },
                bindBankCard:function(){
                    if (this.turename.trim() == '') {
                        this.$dialog.toast({ mes: '请输入真实姓名' });
                        return;
                    }
                    if (this.idcard.trim() == '') {
                        this.$dialog.toast({ mes: '请输入身份证' });
                        return;
                    }
                    if (this.bankcard.trim() == '') {
                        this.$dialog.toast({ mes: '请输入银行卡号' });
                        return;
                    }
                    if (this.phone.trim() == '') {
                        this.$dialog.toast({ mes: '请输入手机号' });
                        return;
                    }
                    if (this.telcode.trim() == '') {
                        this.$dialog.toast({ mes: '请输入手机验证码' });
                        return;
                    }
                    var json = {
                        turename:this.turename,
                        idcard:this.idcard,
                        bankcard:this.bankcard,
                        phone:this.phone,
                        telcode:this.telcode,
                    }
                    var _this = this;
                    httpGet('/login', json, function (res) {
                        if (res.code == 0) {
                            _this.$dialog.toast({ mes: res.message });
                        } else {
                            _this.$dialog.toast({ mes: res.message });
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>