<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>    
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <span class="left back" @click='goHistory'>
                <img src="../../static/images/06.png">
            </span>
            <span>修改密码</span>
        </div>
        <div class="updatepwd bt20">
            <p>
                <span>原密码</span><input v-model='oldpassword' type="password" placeholder="6~16位数字或字母">
            </p>
            <p>
                <span>新密码</span><input v-model='newpassword' type="password" placeholder="6~16位数字或字母">
            </p>
            <p>
                <span>确认密码</span><input v-model='confirmpassword' type="password" placeholder="6~16位数字或字母">
            </p>
            <div>
                <button class="w-btn mt80" @click='updatePwd'>确定</m>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            methods: {
                data:{
                    oldpassword:'',
                    newpassword:'',
                    confirmpassword:''
                },
                goHistory: function () {
                    location.go(-1);
                },
                updatePwd:function(){
                    if (this.oldpassword.trim() == '') {
                        this.$dialog.toast({ mes: '请输入旧密码' });
                        return;
                    }
                    if (this.newpassword.trim() == '') {
                        this.$dialog.toast({ mes: '请输入新密码' });
                        return;
                    }
                    if (this.confirmpassword.trim() == '') {
                        this.$dialog.toast({ mes: '请再次输入新密码' });
                        return;
                    }
                    if (this.newpassword != this.confirmpassword) {
                        this.$dialog.toast({ mes: '两次密码输入不相同' });
                        return;
                    }
                    var json = {
                        newpassword: this.newpassword
                    }
                    httpGet('/login', json, function (res) {
                        if (res.code == 0) {
                            _this.$dialog.toast({ mes: res.message });
                            location.go(-1);
                        } else {
                            _this.$dialog.toast({ mes: res.message });
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>