<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>注册有礼</title>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/axios.min.js"></script>
    <script src="../js/common/js.cookie.js"></script>
    <script src="../js/common/md5.js"></script>
    <script src="../js/common/aes.js"></script>
    <script src="../js/common/mode-ecb.js"></script>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
</head>
<body>
    <div class="main" id="app">
        <div class="activity">
            <img class="h5" src="../images/img_17.png" />
            <img class="pc" src="../images/img_21.png" />
            <div class="box">
                <p class="left_info">亲，您的好友邀请你注册啦！！！</p>
                <div class="r_register">
                    <p><input class="a_ipt" type="text" v-model="r_username" placeholder="请您输入手机号" /></p>
                    <p class="pr">
                        <input class="a_ipt" type="text" v-model="r_code" placeholder="请输入手机号验证码" />
                        <button v-if="is_get_code" @click="r_get_code" class="r_code">获取验证码</button>
                        <button v-if="!is_get_code" class="r_code r_code_gray">{{num}}</button>
                    </p>
                    <p v-if="!is_see" class="pr"><input class="a_ipt" v-model="r_password" type="password" placeholder="请输入密码" /><i class="see" @click="is_see=true"></i></p>
                    <p v-if="is_see" class="pr"><input class="a_ipt" v-model="r_password" type="text" placeholder="请输入密码" /><i class="is_see" @click="is_see=false"></i></p>
                    <p class="r_agree"><input v-model="is_agree" type="checkbox" />我已阅读并同意<a href="agree.html">《用户使用协议》</a></p>
                    <p><button class="r_submit" @click="r_submit">注册</button></p>
                    <p><a class="r_login" href="../index.html">已经注册，立即登录></a></p>
                </div>
            </div>
            <img class="h5" src="../images/img_20.png" />
            <img class="pc" src="../images/img_23.png" />
        </div>
    </div>
    <script src="../js/base.js?rev=@@hash"></script>
    <script src="../js/activity_register.js?rev=@@hash"></script>
</body>
</html>