<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>用户协议</title>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="agree">
            <p>欢迎您成为电子商务管理系统的注册会员，在您注册成为我们的会员后，将享有我们提供的相应服务，但同时也要遵守相应的规则和履行一定的义务。开始注册时请务必认真阅读全部服务协议内容，如有任何疑问，可向客服咨询，您一旦注册成为我们的会员，则意味着完全接受以下条款。</p>
            <div>一、版权声明</div>
            <p>本站的域名、商标、内容和技术数据等相关资料（以下统称为“网站内容”）均属于Innjoe所有，请广大会员用户、客户予以尊重并严格遵循国家政府相关的法律法规及本站的规定合理使用。对于某些事项，如果网站内容上没有特定的权利声明，并不代表Innjoe不享有其权利，同时也不意味着Innjoe放弃或不主张权利。您不得以任何方式、任何理由侵占网站的内容，将其用于其他任何互联网或实体平台，违者将追求其法律责任。</p>
            <div>二、注册会员的权利</div>
            <p>1）会员有权拥有自己在电子商务管理系统的用户名及密码，并有权使用自己的用户名及密码随时登陆网站。</p>
            <p>2）会员可以享有电子商务管理系统提供的相应服务，并且可以提出您认为本网站可以改进的地方。</p>
            <div>三、注册会员的义务</div>
            <p>1）注册成为会员之后享受提供的服务，同时也应同意以下事项：依本服务提示提供您本人真实，正确、及时完整的资料，并随时更新登记资料确保其为真实、正确、完整可靠的资料。若您提供任何有误、不实或者不完整、带有误导性的资料，Innjoe不负任何连带的责任和义务。</p>
            <p>2）Innjoe将采取规范、合法合理的安全手段来保护会员已存储的个人信息，除非根据法律或政府的强制性规定，在未得到会员的许可之前，Innjoe不会将会员的任何个人信息提供给任何无关的第三方，包括公司和个人。</p>
            <div>四、平台规范使用守则</div>
            <p>1）会员在使用电子商务管理系统服务的过程中应全程遵守国家的相关法律、法规等规范文件及电子商务管理系统明示的各项规定和要求，不违反社会公共利益和公共道德，不损害他人的合法权益。如若您违反了上述的相关守则所产生的任何法律、道德后果等影响，您必须以个人的名义承担由此带来的后果，Innjoe不承担因此造成的任何损失。</p>
            <p>2）不发布国家法律、法规禁止的信息；不散布虚假信息损害快递公司财产和快递员工作。</p>
            <p>3）不使用电子商务管理系统中的任何资料、数据来做商业性的利用，包括未经Innjoe的许可，使用电子商务管理系统的信息在其他的平台上展示。</p>
            <p>4）不使用任何不良手段来干预、破坏电子商务管理系统的正常运作。</p>
            <div>五、免责声明</div>
            <p>1）电子商务管理系统的各项服务的所有权和运作权归Innjoe所有。</p>
            <p>2）本网站所发布的信息中可能没有包含与Innjoe及其业务和关联服务有关的最新信息，也可能没有针对用户所需的所有服务，对于本网站所发布的信息，本站不声明或保证其内容的正确性或完整性；</p>
            <p>3）电子商务管理系统作为信息发布、服务平台，无法控制每一个订单所涉及的物品的质量、安全或合法性，委托及受托内容的真实性或准确性，以及委 托关系各方履行其在委托协议中各项义务的能力。您应自行谨慎判断确定相关信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。Innjoe不承担任何因用户自己疏忽而导致的资料泄露等风险。</p>
        </div>
    </div>
</body>
</html>