<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>忘记密码</title>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/axios.min.js"></script>
    <script src="../js/common/js.cookie.js"></script>
    <script src="../js/common/md5.js"></script>
    <script src="../js/common/aes.js"></script>
    <script src="../js/common/mode-ecb.js"></script>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="login">
            <p class="l_tit">鸵鸵达</p>
            <p class="s_tit">短时间 高效率</p>
            <div class="login_form">
                <p class="f_tit">忘记密码</p>
                <p><input class="l_input f_mar_b" id="f_username" type="text" v-model="f_username" placeholder="请输入手机号" /></p>
                <p class="l_p_code">
                    <input class="l_input f_mar_b" id="f_code" type="text" v-model="f_code" placeholder="请输入手机号验证码" />
                    <button v-if="is_get_code" class="l_code" @click="f_get_code">获取验证码</button>
                    <button v-if="!is_get_code" class="l_code_gray">{{num}}</button>
                </p>
                <p><input class="l_input" type="password" id="f_password" v-model="f_password" placeholder="请重新输入密码" /></p>
                <p><button class="l_btn" @click="f_update_pwd">确定</button></p>
            </div>
        </div>
    </div>
    <script src="../js/base.js?rev=@@hash"></script>
    <script src="../js/login.js?rev=@@hash"></script>
</body>
</html>-->
