<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>邀请好友</title>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/axios.min.js"></script>
    <script src="../js/common/js.cookie.js"></script>
    <script src="../js/common/md5.js"></script>
    <script src="../js/common/aes.js"></script>
    <script src="../js/common/mode-ecb.js"></script>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
    <script src="../js/common/jquery-1.11.1.js"></script>
    <script src="../js/common/jquery.qrcode.js"></script>
    <script src="../js/common/utf.js"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <ul>
                <li><img src="../images/logo.png" /></li>
                <li><a href="send.html">我要寄件</a></li>
                <li><a href="order.html">订单管理</a></li>
                <li><a href="account.html">账户管理</a></li>
                <li><a class="active" href="invite.html">邀请好友</a></li>
                <li class="li_out"><span>{{login_name}}</span><span class="sign_out" @click="sign_out()">退出</span></li>
            </ul>
        </div>
        <div class="invite">
            <div class="pr">
                <img class="i_bg" src="../images/img_11.png" />
                <div>
                    <ul class="i_descrip">
                        <li>
                            <p class="i_invited_num">已邀请人数：{{invited_num}}</p>
                        </li>
                        <li>
                            <div>
                                <p class="tit">活动规则：</p>
                                <p class="i_pt">邀请好友注册，且对方在注册后完成至少一个订单的交易，邀请者可以获得1张抵价券的奖励</p>
                                <p class="i_bot">本活动最终解释权归Innjoe所有</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="tit">您可以通过以下方式邀请好友</p>
                                <a class="i_invite_way">
                                    <p>方式一：</p>
                                    <p>您的专属好友邀请链接地址如下</p>
                                    <p style="word-wrap:break-word">{{invite_url}}</p>
                                    <p>方式二：</p>
                                    <p>您的专属好友邀请二维码如下</p>
                                </a>
                                <p class="tc">
                                    <span id="qrcodeCanvas"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>客服QQ：2781686263  客服邮箱：ecms@innjoe.com<span>Copyright@2017 Innjoe 浙ICP备16035303号-1</span></p>
        </div>
    </div>
    <script src="../js/base.js?rev=@@hash"></script>
    <script src="../js/invite.js?rev=@@hash"></script>
</body>
</html>-->
