<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>查看更多</title>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/axios.min.js"></script>
    <script src="../js/common/js.cookie.js"></script>
    <script src="../js/common/md5.js"></script>
    <script src="../js/common/aes.js"></script>
    <script src="../js/common/mode-ecb.js"></script>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="header">
            <ul>
                <li><img src="../images/logo.png" /></li>
                <li><a class="active" href="send.html">我要寄件</a></li>
                <li><a href="order.html">订单管理</a></li>
                <li><a href="account.html">账户管理</a></li>
                <li><a href="invite.html">邀请好友</a></li>
                <li class="li_out"><span>{{login_name}}</span><span @click="sign_out" class="sign_out">退出</span></li>
            </ul>
        </div>
        <div class="more">
            <p class="s_l_tit" v-if="page_type==1">选择寄件人 > 查看更多</p>
            <p class="s_l_tit" v-if="page_type==2">选择收件人 > 查看更多</p>
            <table class="table_f">
                <tr>
                    <td><span>*</span>姓名</td>
                    <td><input class="l_input" v-model="user_name" type="text" placeholder="请输入姓名" /></td>
                </tr>
                <tr>
                    <td><span>*</span>电话号码</td>
                    <td><input class="l_input" v-model="user_mobile" type="text" placeholder="请输入手机号码" /></td>
                </tr>
                <tr>
                    <td v-if="page_type==1"><span>*</span>寄件地址</td>
                    <td v-if="page_type==2"><span>*</span>收件件地址</td>
                    <td class="pr" @click="open_pcr()" tabindex="1" @blur="test_click">
                        <div class="l_input l_h">{{user_pcr}}</div>
                        <div class="s_p_c_r" v-if="is_select_pcr" v-cloak>
                            <p>
                                <span class="active">常用地区</span>
                                <span @click="get_province">{{se_province_name}}</span>
                                <span @click="get_city(se_province_index)">{{se_city_name}}</span>
                                <span @click="get_region(se_city_index)">{{se_regin_name}}</span>
                            </p>
                            <div class="box">
                                <ul v-if="select_type==0">
                                    <li v-for="(item,i) in pcr_list"><a :class="{active:item.dict_id==se_province_id}" @click="select_province(i,item.dict_id,item.province_name)">{{item.province_name}}</a></li>
                                </ul>
                                <ul v-if="select_type==1">
                                    <li v-for="(item,i) in cr_list"><a :class="{active:item.dict_id==se_city_id}" @click="select_city(i,item.dict_id,item.city_name)">{{item.city_name}}</a></li>
                                </ul>
                                <ul v-if="select_type==2">
                                    <li v-for="(item,i) in r_list"><a :class="{active:item.dict_id==se_region_id}" @click="select_region(i,item.dict_id,item.area_name);is_select_pcr=false">{{item.area_name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="l_input" v-model="detailed_address" type="text" placeholder="请填写详细街道信息" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="is_default">
                        <span v-if="is_default" class="active" @click="is_default=false"></span>
                        <span v-if="!is_default" class="" @click="is_default=true"></span>
                        设为默认地址
                    </td>
                </tr>
            </table>
            <p class="tc"><button class="s_sub_btn" @click="m_save">保存</button></p>
            <div class="table">
                <table>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>手机号</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="(item,i) in addr_list">
                        <td>{{i+1+(page_no-1)*10}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.detailed_address}}</td>
                        <td>
                            <button class="btn_edit" @click="more_edit(item.address_id);">修改</button>
                            <button class="btn_delete" @click="more_delete(item.address_id)">删除</button>
                            <button v-if="item.is_default==1" class="m_default" @click="more_be_default(item.address_id)">设为默认地址</button>
                            <button v-if="item.is_default==0" class="m_is_default">默认地址</button>
                        </td>
                    </tr>
                </table>
                <div class="no_data" v-if="addr_list==''" v-cloak>
                    <img src="../images/no_data.png" />
                </div>
                <div class="pagelist" v-cloak v-if="addr_list!=''&&total_pages!=1">
                    <div v-if="page_no>1"><a v-on:click="page_no--,page_click()">上一页</a></div>
                    <div v-if="page_no==1"><a class="banclick">上一页</a></div>
                    <div v-for="index in indexs">
                        <a v-bind:class="{ 'active': page_no == index}" v-on:click="btn_click(index)">{{ index }}</a>
                    </div>
                    <div v-if="page_no!=total_pages"><a v-on:click="page_no++,page_click()">下一页</a></div>
                    <div v-if="page_no == total_pages"><a class="banclick">下一页</a></div>
                    <div>
                        <a>共<i>{{total_pages}}</i>页</a>
                        <input v-model="page_txt" type="text" />
                        <a href="javascript:;" @click="search_page">确定</a>
                    </div>
                </div>
            </div>
            <div class="add_addr_dialog" v-if="is_delete" v-cloak>
                <div class="is_delete">
                    <p>确认删除？</p>
                    <button class="s_sub_btn" @click="comfirm_delete">确定</button><button class="s_cancel_btn" @click="is_delete=false">取消</button>
                </div>
            </div>
            <!--<div class="add_addr_dialog" v-if="id_add_addr" v-cloak>
                <div class="dia_con">
                    <p class="tit tc">添加新地址<button class="close" @click="id_add_addr=false"></button></p>
                    <table>
                        <tr>
                            <td>姓名</td>
                            <td><input class="l_input" v-model="user_name1" type="text" placeholder="请输入姓名" /></td>
                        </tr>
                        <tr>
                            <td>手机号码</td>
                            <td><input class="l_input" v-model="user_mobile1" type="text" placeholder="请输入手机号码" /></td>
                        </tr>
                        <tr>
                            <td v-if="page_type==1">寄件地址</td>
                            <td v-if="page_type==2">收件地址</td>
                            <td class="pr" @click="open_pcr()" tabindex="1" @blur="test_click">
                                <input class="l_input" v-model="user_pcr1" type="text" placeholder="请选择所在地区" disabled />
                                <div class="s_p_c_r" v-if="is_select_pcr1">
                                    <p>
                                        <span class="active">常用地区</span>
                                        <span @click="get_province">{{se_province_name}}</span>
                                        <span @click="get_city(se_province_index1)">{{se_city_name}}</span>
                                        <span @click="get_region(se_city_index1)">{{se_regin_name}}</span>
                                    </p>
                                    <ul v-if="select_type==0">
                                        <li v-for="(item,i) in pcr_list"><a :class="{active:item.dict_id==se_province_id1}" @click="select_province(i,item.dict_id,item.province_name)">{{item.province_name}}</a></li>
                                    </ul>
                                    <ul v-if="select_type==1">
                                        <li v-for="(item,i) in cr_list"><a :class="{active:item.dict_id==se_city_id1}" @click="select_city(i,item.dict_id,item.city_name)">{{item.city_name}}</a></li>
                                    </ul>
                                    <ul v-if="select_type==2">
                                        <li v-for="(item,i) in r_list"><a :class="{active:item.dict_id==se_region_id1}" @click="select_region(i,item.dict_id,item.area_name)">{{item.area_name}}</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="l_input" v-model="detailed_address1" type="text" placeholder="请填写详细街道信息" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="is_default">
                                <span v-if="is_default1==1" @click="is_default1=0"></span>
                                <span v-if="is_default1==0" class="active" @click="is_default1=1"></span>设为默认寄件地址
                            </td>
                        </tr>
                    </table>
                    <p class="tc"><button @click="m_edit_address" class="s_sub_btn">确定</button><button class="s_cancel_btn" @click="id_add_addr=false">取消</button></p>
                </div>
            </div>-->
        </div>
        <div class="footer">
            <p>客服QQ：2781686263  客服邮箱：ecms@innjoe.com<span>Copyright@2017 Innjoe 浙ICP备16035303号-1</span></p>
        </div>
    </div>
    <script src="../js/base.js?rev=@@hash"></script>
    <script src="../js/more.js?rev=@@hash"></script>
</body>
</html>