<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>寄件</title>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/axios.min.js"></script>
    <script src="../js/common/js.cookie.js"></script>
    <script src="../js/common/md5.js"></script>
    <script src="../js/common/aes.js"></script>
    <script src="../js/common/mode-ecb.js"></script>
    <script src="../js/common/jquery-1.11.1.js"></script>
    <script src="../js/common/jquery.form.js"></script>
    <link href="../css/index.css?rev=@@hash" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="header">
            <ul>
                <li><img src="../images/logo.png" /></li>
                <li><a class="active" href="send.html">我要寄件</a></li>
                <li><a href="order.html">订单管理</a></li>
                <li><a href="account.html">账户管理</a></li>
                <!--<li><a href="invite.html">邀请好友</a></li>-->
                <li class="li_out"><span>{{login_name}}</span><span @click="sign_out" class="sign_out">退出</span></li>
            </ul>
        </div>
        <div class="send">
            <p class="s_l_tit">我要寄件</p>
            <p class="s_express s_s_tit">
                <button @click="hehehe(1);is_all_send=false" :class="{s_select_ex:!is_all_send}">单件寄件</button>
                <button @click="hehehe(2);is_all_send=true" :class="{s_select_ex:is_all_send}">批量寄件</button>
            </p>
            <p class="s_s_tit">选择寄件人</p>
            <ul>
                <li v-for="(item,i) in sender_list" v-if="i<4">
                    <div @click="select_send_add_id(item.address_id)" :class="{active:item.address_id==send_add_id}">
                        <p>{{item.name}}<span>{{item.phone}}</span></p>
                        <p class="addr">{{item.detailed_address}}</p>
                    </div>
                    <span @click="add_type=3;get_detail(item.address_id)" class="addr_edit"></span>
                    <input v-if="item.is_default==1" @click="to_default(item.address_id)" class="addr_be_default" type="button" value="设为默认" />
                    <input v-if="item.is_default==0" class="addr_default" type="button" value="默认地址" />
                </li>
            </ul>
            <p class="s_bor_b"><button class="s_add_new" @click="add_type=1;open_add_addr()">使用新地址</button><a class="view_more fr" href="moresender.html?type=1">查看更多</a></p>
            <div v-if="!is_all_send">
                <p class="s_s_tit">选择收件人</p>
                <ul>
                    <li v-for="(item,i) in receiv_list" v-if="i<4">
                        <div @click="select_rev_add_id(item.address_id)" :class="{active:item.address_id==rev_add_id}">
                            <p>{{item.name}}<span>{{item.phone}}</span></p>
                            <p class="addr">{{item.detailed_address}}</p>
                        </div>
                        <span @click="add_type=4;get_detail(item.address_id)" class="addr_edit"></span>
                        <input v-if="item.is_default==1" @click="add_type=2;to_default(item.address_id)" class="addr_be_default" type="button" value="设为默认" />
                        <input v-if="item.is_default==0" class="addr_default" type="button" value="默认地址" />
                    </li>
                </ul>
                <p class="s_bor_b"><button class="s_add_new" @click="add_type=2;open_add_addr()">使用新地址</button><a class="view_more fr" href="moresender.html?type=2">查看更多</a></p>
                <p class="s_express s_s_tit">
                    <span>选择重量</span>
                    <input class="weight" type="text" v-model="express_weight" @input="check_weight()" />&nbsp;kg
                </p>
                <p class="s_express s_s_tit">
                    <span>选择快递</span>
                    <button v-for="item in ex_com_list" @click="express_id=item.express_id;get_plat()" :class="{s_select_ex:express_id==item.express_id}">{{item.express_name}}</button>
                </p>
                <p class="s_express s_s_tit">
                    <span>选择平台</span>
                    <button v-for="item in plat_list" @click="platform_id=item.platform_id" :class="{s_select_ex:platform_id==item.platform_id}">{{item.platform_name}}</button>
                    <input class="weight" type="text" v-model="plat_order_id" placeholder="请输入平台编号" />
                </p>
                <p class="tc s_last_btn"><button class="s_sub_btn" @click="build_order">提交</button></p>
            </div>
            <div class="add_sends mar20" v-if="is_all_send">
                <div class="model">
                    <a href="http://file.hotol.cn/app/data/config/%E9%A9%BC%E9%A9%BC%E8%BE%BE%E6%89%B9%E9%87%8F%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xlsx" style="color:#ff830b">批量导入模板下载</a>
                    <form action="/ecms/emptybag/web/1/token/importExcel" id="upload_file" method="post" enctype="multipart/form-data" style="display:none">
                        <input type="file" @change="upload_file" id="file" name="file" />
                    </form>
                    <button class="btn_in" @click="upload">导入</button>
                </div>
                <p class="o_status">
                    <button @click="all_pay" style="color:#fff;background:#ff6622;">支付</button>
                    <!--<button @click="delete_order" style="border:1px solid #D9D9D9;color:#848484">删除</button>-->
                    <button @click="export_excel" style="color: #fff;background:#62b6f7">导出</button>
                </p>
                <div class="table_f">
                    <table>
                        <tr>
                            <td>批量订单号</td>
                            <td>{{map_list.ord_number}}</td>
                        </tr>
                        <tr>
                            <td>状态</td>
                            <td v-if="map_list.state==1">未支付</td>
                            <td v-if="map_list.state==2">已支付</td>
                        </tr>
                        <tr>
                            <td>下单时间</td>
                            <td>{{map_list.send_time}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>单价</td>
                            <td v-if="map_list.express_price">{{map_list.express_price/100}}</td>
                            <td v-if="map_list.express_price==0">0</td>
                        </tr>
                        <tr>
                            <td>数量</td>
                            <td>{{map_list.clt_size}}</td>
                        </tr>
                        <tr>
                            <td>金额</td>
                            <td v-if="map_list.total_amount">{{map_list.total_amount/100}}</td>
                            <td v-if="map_list.express_price==0">0</td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>编号</th>
                            <th>平台编号</th>
                            <th v-if="map_list.state==2">快递单号</th>
                            <th>收件人</th>
                            <th>收件人手机</th>
                            <th>收件地址</th>
                            <th>平台</th>
                            <th>快递公司</th>
                        </tr>
                        <tr v-for="(item,i) in all_send_list">
                            <td>{{i+1+(page_no-1)*10}}</td>
                            <td>{{item.platform_number}}</td>
                            <td v-if="map_list.state==2">{{item.express_number}}</td>
                            <td>{{item.receive_name}}</td>
                            <td>{{item.receive_phone}}</td>
                            <td>{{item.receive_province}}{{item.receive_city}}{{item.receive_region}}</td>
                            <td>{{item.platform_name}}</td>
                            <td>{{item.express_name}}</td>
                        </tr>
                    </table>
                </div>
                <div class="pagelist" v-cloak v-if="all_send_list!=''&&total_pages!=1">
                    <div v-if="page_no>1"><a v-on:click="page_no--,page_click()">上一页</a></div>
                    <div v-if="page_no==1"><a class="banclick">上一页</a></div>
                    <div v-for="index in indexs">
                        <a v-bind:class="{ 'active': page_no == index}" v-on:click="btn_click(index)">{{ index }}</a>
                    </div>
                    <div v-if="page_no!=total_pages"><a v-on:click="page_no++,page_click()">下一页</a></div>
                    <div v-if="page_no == total_pages"><a class="banclick">下一页</a></div>
                    <div>
                        <a>共<i>{{total_pages}}</i>页</a>
                        <input v-model="page_txt" type="text" />
                        <a @click="search_page()" href="javascript:;">确定</a>
                    </div>
                </div>
            </div>
            <div class="add_addr_dialog" v-if="is_pay_order" v-cloak>
                <div class="dia_con">
                    <p class="tit tc">支付<button class="close" @click="is_pay_order=false"></button></p>
                    <div class="pay_way">
                        <p>需付款：<span class="orange" v-if="!is_all_send">￥{{order_amount/100}}</span><span class="orange" v-if="is_all_send">￥{{map_list.total_amount/100}}</span></p>
                        <p>支付方式：</p>
                        <div id="cou_code"></div>
                        <p>
                            <button class="pay_btn" :class="{pay_btn_d:change_channel==3}" @click="change_channel=3">余额支付</button>
                            <button class="pay_btn" :class="{pay_btn_d:change_channel==4}" @click="change_channel=4">抵扣券支付</button>
                            <button class="pay_btn" :class="{pay_btn_d:change_channel==1}" @click="change_channel=1">支付宝</button>
                        </p>
                        <p v-if="change_channel==3">账户余额：{{user_balance/100}}</p>
                        <p v-if="change_channel==4">抵扣券数量：{{surplus_frequency}}</p>
                    </div>
                    <p v-if="complete_pay" class="tc" style="padding-top:50px;"><button class="s_sub_btn" @click="is_pay_order=false">完成支付</button><button class="s_cancel_btn" @click="is_pay_order=false">取消</button></p>
                    <p v-if="!complete_pay" class="tc" style="padding-top:50px;"><button class="s_sub_btn" @click="send_pay_order">支付</button><button class="s_cancel_btn" @click="is_pay_order=false">取消</button></p>
                </div>
            </div>
        </div>
        <div class="add_addr_dialog" v-if="complete_pay" v-cloak>
            <div class="dia_con">
                <p class="tit tc">寄件成功</p>
                <div class="pay_way tc" style="padding-bottom:15px;">
                    <p>您的快递单号为：{{complete_exp_id}}</p>
                </div>
                <p class="tc"><button class="s_sub_btn" @click="complete_pay=false">确定</button></p>
            </div>
        </div>
        <div class="add_addr_dialog" v-if="id_add_addr" v-cloak>
            <div class="dia_con">
                <p class="tit tc">添加新地址<button class="close" @click="id_add_addr=false"></button></p>
                <table>
                    <tr>
                        <td>姓名</td>
                        <td><input class="l_input" v-model="user_name" type="text" placeholder="请输入姓名" /></td>
                    </tr>
                    <tr>
                        <td>手机号码</td>
                        <td><input class="l_input" v-model="user_mobile" type="text" placeholder="请输入手机号码" /></td>
                    </tr>
                    <tr>
                        <td v-if="add_type==1||add_type==3">寄件地址</td>
                        <td v-if="add_type==2||add_type==4">收件地址</td>
                        <td class="pr" @click="open_pcr()" tabindex="1" @blur="test_click">
                            <div class="l_input">{{user_pcr}}</div>
                            <div class="s_p_c_r" v-if="is_select_pcr">
                                <p>
                                    <span class="active">常用地区</span>
                                    <span @click="get_province">{{se_province_name}}</span>
                                    <span @click="get_city(se_province_index)">{{se_city_name}}</span>
                                    <span @click="get_region(se_city_index)">{{se_regin_name}}</span>
                                </p>
                                <div class="box">
                                    <ul v-if="select_type==0">
                                        <li v-for="(item,i) in pcr_list"><a :class="{active:item.dict_id==se_province_id}" @click="select_province(i,item.dict_id,item.province_name)">{{item.province_name}}</a></li>
                                    </ul>
                                    <ul v-if="select_type==1">
                                        <li v-for="(item,i) in cr_list"><a :class="{active:item.dict_id==se_city_id}" @click="select_city(i,item.dict_id,item.city_name)">{{item.city_name}}</a></li>
                                    </ul>
                                    <ul v-if="select_type==2">
                                        <li v-for="(item,i) in r_list"><a :class="{active:item.dict_id==se_region_id}" @click="select_region(i,item.dict_id,item.area_name)">{{item.area_name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="l_input" v-model="detailed_address" type="text" placeholder="请填写详细街道信息" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="is_default">
                            <span v-if="is_default" class="active" @click="is_default=false"></span>
                            <span v-if="!is_default" class="" @click="is_default=true"></span>
                            <input v-model="is_default" type="checkbox" />
                            设为默认地址
                        </td>
                    </tr>
                </table>
                <p v-if="add_type==3||add_type==4" class="tc"><button @click="edit_addr(address_id)" class="s_sub_btn">确定</button><button class="s_cancel_btn" @click="id_add_addr=false">取消</button></p>
                <p v-if="add_type==1||add_type==2" class="tc"><button @click="s_add_address" class="s_sub_btn">确定</button><button class="s_cancel_btn" @click="id_add_addr=false">取消</button></p>
            </div>
        </div>
        <div class="loading_bg" v-if="is_loading">
            <div class="spinner">
                <p>导入中...</p>
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="footer">
            <p>客服QQ：2781686263  客服邮箱：ecms@innjoe.com<span>Copyright@2017 Innjoe 浙ICP备16035303号-1</span></p>
        </div>
    </div>
    <script src="../js/base.js?rev=@@hash"></script>
    <script src="../js/send.js?rev=@@hash"></script>
</body>
</html>