<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>美佳达智慧销售</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="index">
            <div class="header">
                <span class="selectcity">杭州
                    <img src="../../static/images/04.png">
                </span>
                <span>美佳达智慧销售</span>
                <img @click='checkLogin' class="hsetting" src="../../static/images/07.png">
            </div>
            <div class="banner">
                <img src="../../static/images/s16.png">
            </div>
            <div class="hot_hourse">
                <p class="mi_tit">热门房源
                    <span class="right" @click='viewMore'>查看更多</span>
                </p>
                <ul>
                    <li>
                        <a href="./hoursedetail.html">
                            <p>
                                <img src="../../static/images/img_02.png">
                            </p>
                            <p>dhsuadhiasda</p>
                            <p class="des">都hi速度哈收到后isa</p>
                        </a>
                    </li>
                    <li>
                        <a href="./hoursedetail.html">
                            <p>
                                <img src="../../static/images/img_02.png">
                            </p>
                            <p>dhsuadhiasda</p>
                            <p class="des">都hi速度哈收到后isa</p>
                        </a>
                    </li>
                    <li>
                        <a href="./hoursedetail.html">
                            <p>
                                <img src="../../static/images/img_02.png">
                            </p>
                            <p>dhsuadhiasda</p>
                            <p class="des">都hi速度哈收到后isa</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="mi_tit">为你推荐
                    <span class="right" @click='viewMore'>查看更多</span>
                </p>
                <div class="item_list">
                    <a href="./hoursedetail.html">
                        <div class="item">
                            <div class="left">
                                <img src="../../static/images/img_01.png" alt="">
                            </div>
                            <div class="right">
                                <p class="ltit">nsjadasidnsajk</p>
                                <p class="stit">dhuasdhsaidasdas</p>
                                <p>
                                    <span class="lable_blue">tree</span>
                                    <span class="lablue_green">rerwre</span>
                                </p>
                                <p>
                                    <span class="totalprice">100万</span>
                                    <span>3232元/平</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="./hoursedetail.html">
                        <div class="item">
                            <div class="left">
                                <img src="../../static/images/img_01.png" alt="">
                            </div>
                            <div class="right">
                                <p class="ltit">nsjadasidnsajk</p>
                                <p class="stit">dhuasdhsaidasdas</p>
                                <p>
                                    <span class="lable_blue">tree</span>
                                    <span class="lablue_green">rerwre</span>
                                </p>
                                <p>
                                    <span class="totalprice">100万</span>
                                    <span>3232元/平</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            methods: {
                checkLogin: function () {
                    location.href = '../login/codelogin.html';
                },
                viewMore: function () {
                    location.href = './morelist.html';
                }
            }
        })
    </script>
</body>

</html>