<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>我的奖金</title>
    <link rel="stylesheet" href="../../static/css/ydui.rem.css">
    <script src="../../static/js/common/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../static/css/ydui.base.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common/vue.min.js"></script>
    <script src="../../static/js/common/ydui.rem.js"></script>
    <script src="../../static/js/common/axios.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <span class="left back">
                <img src="../../static/images/06.png">
            </span>
            <span>我的奖金</span>
        </div>
        <div class="sellerbonus">
            <ul>
                <li>
                    <p>
                        <img src="../../static/images/s07.png">
                        <span>基本补贴</span>
                        <span class="right">1500元</span>
                    </p>
                </li>
                <li>
                    <p>
                        <img src="../../static/images/s08.png">
                        <span>佣金</span>
                        <span class="right">1500元</span>
                    </p>
                </li>
                <li>
                    <p>
                        <img src="../../static/images/s09.png">
                        <span>基本补贴</span class="right">
                        <span>1500元</span>
                    </p>
                </li>
                <li>
                    <p>
                        <img src="../../static/images/s10.png">
                        <span>基本补贴</span class="right">
                        <span>1500元</span>
                    </p>
                </li>
                <li>
                    <p>
                        <img src="../../static/images/s11.png">
                        <span>基本补贴</span class="right">
                        <span>1500元</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <script>
        new Vue({
            el: '.wrap',
            methods: {

            }
        })
    </script>
</body>

</html>